.hero {
    margin-top: 4rem;
    height: auto !important;  
    color: #fff; 
  }
  .hero_container {
    display: flex;
  }
  .hero_button {
    background: none;
    color: #fff;
    max-width: 200px;
    width: 100%;
    padding: 1rem 0 1rem 0rem;
    border-radius: 30px;
    border: 2px solid #1eb2a6;
    font-family: "Poppins", sans-serif;
  }
  .button {
    gap: 2rem;
    display: flex;
    margin-top: 1rem;
    max-width: 1000px;
    width: 100%;
  }
 
  
  .primary-btn {
    background-color: #1eb2a6;
    color: #fff;
    max-width: 200px;
    width: 100%;
    padding: 1rem 0 1rem 0rem;
    border-radius: 30px;
    border: #1eb2a6;
    font-family: "Poppins", sans-serif;
  }
  .hero #heading h3 {
    color: #fff;
  }
  .hero_main_image {
    width: 400px;
    height: 500px;
  }
  
  .hero p {
    font-size: 16px;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 1150px) {
   .hero_container {
    margin-top: 10rem;
   }
  }
 
  @media screen and (max-width: 850px) {
    .hero .row {
      width: 100%;
    }
  }
  @media screen and (max-width: 430px) {
   
   
    
  }
  @media screen and (max-width: 576px) {
    .button.button {
      display: grid;
      margin: auto;
      justify-content: center;
      margin-top: 1rem;
    }
    .hero_button {
      width: 200px; 
    }
     .primary-btn {
      width: 100%;
    }
    .hero_container {
        margin-top: 2rem;
    }
    .hero #heading h3 {
        color: #fff;
      }
      .hero p {
        font-size: 12px;
        text-align: center;
      }
      .hero #heading {
        text-align: center;
       
      }
      .button {
        margin-top: 2rem;
        display: grid;
      }
      
      
   }